/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

/* login */
html,
body {
  height: 100vh;
  box-sizing: border-box;
}
.content {
  height: 100vh;
}
.bg-linear {
  background: linear-gradient(#3285c5, #135589);
}
.login-wrapper {
  width: 35vw;
  top: 25%;
  box-shadow: 2px 2px 10px 2px rgb(150, 150, 150);
}
.ff-brittany {
  font-family: "brittany signature", "apalu Script", "reman", "Tahu!";
}
.ff-roboto-con {
  font-family: "Roboto Condensed", sans-serif;
}
.ff-caviar {
  font-family: "Caviar Dreams";
}
.tombol {
  width: 100%;
}

/* index */
.navbar {
  width: 100%;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.navbar i {
  font-size: 35px;
  transition: 1s;
}
.hamburger {
  cursor: pointer;
}
/* sidebar */
.hidden {
  background-color: #135589;
  transition: 1s;
}
.sidebar {
  height: 100vh;
  width: 80px;
  padding-top: 70px;
  transition: 0.5s;
  z-index: 1;
  box-shadow: 2px 2px 10px #333;
}
.sidebar:hover {
  width: 250px;
}
.sidebar li {
  height: 45px;
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  overflow: hidden;
  cursor: pointer;
}
.sidebar li:hover {
  background-color: #333;
}
.aktif {
  background-color: #135589;
}
.bg-biru-muda {
  background-color: #3285c5;
}
.d-none {
  transition: 1s;
}
.aktif:hover {
  color: white;
}
.sidebar a {
  color: white;
  text-decoration: none;
}
.sidebar a:hover {
  color: white;
}
.content {
  margin-top: 80px;
  margin-left: 80px;
  height: fit-content;
}
.bawah li:hover {
  width: 250px;
}
.tabel {
  min-width: 600px;
}
.tombol-tabel {
  width: 80px;
  margin: 2px;
}
.form-add {
  max-width: 500px;
}
