html,
body {
  background-image: url(../img/paper.jpg);
  background-repeat: repeat;
  font-size: 16px;
  font-family: "Caviar Dreams", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* font family*/
.ff-brittany {
  font-family: "brittany signature", "apalu Script", "reman", "Tahu!";
}
.ff-roboto-con {
  font-family: "Roboto Condensed", sans-serif;
}
.ff-mont-heavy {
  font-family: "Mont Heavy", sans-serif;
}
.ff-reem {
  font-family: "Reem Kufi", sans-serif;
}
.ff-caviar {
  font-family: "Caviar Dreams";
}
/* font-size */
.fz-1 {
  font-size: 1rem;
}
.fz-1-25 {
  font-size: 1.25rem;
}
.fz-1-5 {
  font-size: 1.5rem;
}
.fz-2 {
  font-size: 2rem;
}
.fz-2-5 {
  font-size: 2.5rem;
}
.fz-3 {
  font-size: 3rem;
}
.fz-4 {
  font-size: 4rem;
}
/* text-shadow */
.ts-biru-low {
  text-shadow: 2px 2px 5px #aed9da;
}
.ts-biru-muda {
  text-shadow: 2px 2px 5px #1afdfe;
}
.ts-biru-tua {
  text-shadow: 2px 2px 5px #135589;
}

/* box-shadow */
.bs-biru-low {
  box-shadow: 2px 2px 5px #aed9da;
}
.bs-biru-low-full {
  box-shadow: 0px 0px 10px 2px #aed9da;
}
.bs-biru-muda {
  box-shadow: 2px 2px 5px #1afdfe;
}
.bs-biru-tua {
  box-shadow: 2px 2px 5px #135589;
}
/* landing Page */
.landing-page {
  height: 100vh;
  width: 100%;
  color: #135589;
  background-image: url(../img/landing-landscape.jpg);
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
.initial {
  background-image: url(../img/initial.png);
  background-size: 100%;
  height: 25vw;
  width: 25vw;
}
.invite {
  margin-bottom: 5%;
}
.tombol {
  width: 300px;
  background-color: #135589;
  color: #aed9da;
  bottom: 10%;
}
.button p {
  font-size: 10px;
}
.tombol:hover {
  background-color: #2a93d5;
  color: #edfaed;
}
.play-button {
  height: 35px;
  width: 35px;
  background: #2a93d5;
  color: black;
  position: fixed;
  bottom: 100px;
  left: 50px;
  cursor: pointer;
  z-index: 999;
}
.play-button i {
  font-size: 30px;
  top: -5px;
  left: 2.5px;
  position: relative;
}
.welcome-page {
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/backgroun_l2.jpg);
  background-size: cover;
  color: #135589;
}
.name {
  top: 50%;
}
.top {
  width: 100%;
}

/* ayat */
.bg-pic {
  background-image: url(../img/Background_portarait2.jpg);
  background-size: cover;
  background-position: center;
  height: 550px;
  border-radius: 20px;
}
.an-nur-wrapper {
  background-color: #aed9da;
  min-height: 500px;
  border-radius: 20px;
  margin: 30px 40px 5px -20px;
  line-height: 500px;
}
.an-nur figure {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
/* waves */
img {
  width: 100%;
}

/* mempelai */
.mempelai-wrapper {
  background: linear-gradient(#379bd8, #b5dcdd);
}
.mempelai img {
  width: 200px;
}
.mempelai-height {
  height: 100%;
}
/* Event */
.hitung-mundur-wrapper {
  background-image: url(../img/bg-3.jpg);
  background-position: bottom;
  background-size: cover;
}
.gmaps-wrapper {
  background-image: url(../img/bg-2.jpg);
  background-position: top;
  background-size: cover;
}
.akad-wrapper {
  background-image: linear-gradient(rgba(19, 85, 137, 0.7), rgba(19, 85, 137, 0.7)), url(../img/background_l3.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

.gmaps {
  width: 400px;
  height: 300px;
}
/* Gallery */
.gallery {
  background: linear-gradient(to right, #379bd8, #1afdfe);
}

.gallery-image img {
  cursor: pointer;
}
.modal-content img {
  max-height: 90vh;
}
.portrait {
  aspect-ratio: 9 / 16;
  max-width: 55vh;
}
.landscape {
  aspect-ratio: 16 / 9;
}
/* wish */
.angpau {
  background-image: url(../img/bg-3.jpg);
  background-position: bottom;
  background-size: cover;
  border: 2px solid #135589;
  border-radius: 15px;
}
.pesan-wrapper {
  height: 300px;
}
/* prokes */
.bg-biru-tua {
  background-color: #1f6192;
}
.prokes img {
  height: 140px;
}
.prokes {
  background-image: url(../img/bg-1.jpg);
  background-position: contain;
  background-size: 100% 100%;
  border-radius: 20px;
}
.waves6 {
  height: 250px;
  z-index: 990;
}
.bawah {
  width: 80vw;
}
.terima-kasih p {
  margin: 0;
}
.terima-kasih {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/background_l3.jpg);
  height: 150vh;
  background-position: center;
  background-size: cover;
  margin-top: -250px;
  z-index: 1;
}
.bg-biru-tua {
  background-color: #1f6192;
}
footer {
  margin-bottom: 90px;
}
footer a {
  text-decoration: none;
  color: white;
  font-style: normal;
}
.pink {
  color: #ffc0cb;
}
footer a:hover {
  color: aqua;
}
/* navbar */
.navbar i {
  font-size: 34px;
}
.navbar a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.link:hover {
  background-color: #1f6192;
  color: #379bd8;
}
.navbar-row {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: -20px !important;
}
nav {
  box-shadow: 2px 2px 5px 1px #1afdfe;
}
