html,
body {
  font-size: 16px;
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Caviar Dreams", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
img {
  width: 100%;
}
/* font family*/
.ff-brittany {
  font-family: "brittany signature", "apalu Script", "reman", "Tahu!";
}
.ff-roboto-con {
  font-family: "Roboto Condensed", sans-serif;
}
.ff-mont-heavy {
  font-family: "Mont Heavy", sans-serif;
}
.ff-reem {
  font-family: "Reem Kufi", sans-serif;
}
.ff-caviar {
  font-family: "Caviar Dreams";
}
/* font-size */
.fz-1 {
  font-size: 1rem;
}
.fz-1-25 {
  font-size: 1.25rem;
}
.fz-1-5 {
  font-size: 1.5rem;
}
.fz-2 {
  font-size: 2rem;
}
.fz-2-5 {
  font-size: 2.5rem;
}
.fz-3 {
  font-size: 3rem;
}
.fz-4 {
  font-size: 4rem;
}
/* text-shadow */
.ts-biru-low {
  text-shadow: 2px 2px 5px #aed9da;
}
.ts-biru-muda {
  text-shadow: 2px 2px 5px #1afdfe;
}
.ts-biru-tua {
  text-shadow: 2px 2px 5px #135589;
}

/* box-shadow */
.bs-biru-low {
  box-shadow: 2px 2px 5px #aed9da;
}
.bs-biru-low-full {
  box-shadow: 0px 0px 10px 2px #aed9da;
}
.bs-biru-muda {
  box-shadow: 2px 2px 5px #1afdfe;
}
.bs-biru-tua {
  box-shadow: 2px 2px 5px #135589;
}
/* landing Page */
.landing-page {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  color: #135589;
  background-image: url(../img/landing-landscape.jpg);
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  transition: top 1s, opacity 2s;
  opacity: 1;
}
.hide {
  top: -100vh;
  opacity: 0;
}
.initial {
  background-image: url(../img/initial.png);
  background-size: 100%;
  height: 25vw;
  width: 25vw;
}
.invite {
  margin-bottom: 5%;
}
.tombol {
  width: 300px;
  background-color: #135589;
  color: #aed9da;
  bottom: 10%;
}
.button p {
  font-size: 10px;
}
.tombol:hover {
  background-color: #2a93d5;
  color: #edfaed;
}
.play-button {
  height: 35px;
  width: 35px;
  background: #2a93d5;
  color: black;
  position: fixed;
  bottom: 100px;
  left: 50px;
  cursor: pointer;
  z-index: 1;
}
.play-button i {
  font-size: 30px;
  top: 2.5px;
  left: 2.5px;
  position: relative;
}
.welcome-page {
  height: 85vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/backgroun_l2.jpg);
  background-size: cover;
  color: #135589;
}
.name {
  top: 40%;
}
.top {
  width: 100%;
}
/* waves */
.waves-atas {
  height: 250px;
  width: 100%;
  background-image: url(../img/waves/wave-atas-1-lg.png);
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.top-250 {
  margin-top: -130px;
}
.top-200 {
  margin-top: 120px;
}
.waves-bawah {
  height: 250px;
  width: 100%;
  background-image: url(../img/waves/wave-bawah-1-lg.png);
  background-position: center;
  background-size: cover;
}
.waves-biru-1 {
  height: 250px;
  width: 100%;
  background-image: url(../img/waves/wave-atas-2-lg.png);
  background-position: center;
  background-size: cover;
}
.waves-biru-2 {
  height: 250px;
  width: 100%;
  background-image: url(../img/waves/wave-bawah-2-lg.png);
  background-position: center;
  background-size: cover;
  z-index: 3;
  position: absolute;
}
/* .waves-biru-2 img {
  width: 100%;
  z-index: 998;
} */
/* mempelai */
.mempelai-wrapper {
  background: linear-gradient(#2d6e9c, #379cd9);
}
.mempelai img {
  width: 200px;
}
.mempelai-height {
  height: 100%;
}
/* Event */
.bg-biru-muda {
  background-color: #2a93d5;
}
.akad-wrapper {
  background-image: linear-gradient(rgba(19, 85, 137, 0.7), rgba(19, 85, 137, 0.7)), url(../img/background_l3.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  border-radius: 15px !important;
}
.hitung-mundur-wrapper {
  border-radius: 15px;
}
.gmaps-wrapper {
  border-radius: 15px !important;
}
.gmaps {
  width: 400px;
  height: 300px;
}
/* Gallery */
.gallery {
  background: linear-gradient(#2d6e9c, #379cd9);
}

.gallery-image img {
  cursor: pointer;
}
.modal-content img {
  max-height: 90vh;
}
.portrait {
  aspect-ratio: 9 / 16;
  max-width: 55vh;
}
.landscape {
  aspect-ratio: 16 / 9;
}
/* wish */
.angpau {
  border: 2px solid #135589;
  border-radius: 15px;
}
.pesan-wrapper {
  height: 300px;
}
/* prokes */
.bg-biru-tua {
  background-color: #1f6192;
}
.bg-biru-tua-half {
  background-color: rgba(31, 97, 146, 0.7);
}
.prokes img {
  height: 140px;
}
.prokes {
  border-radius: 20px;
}
.bawah {
  padding-top: 70vh;
  margin: 0;
}
.terima-kasih p {
  margin: 0;
}
.terima-kasih {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/background_l3.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  z-index: 1;
  /* margin-top: -200px; */
}
.bg-biru-tua {
  background-image: linear-gradient(#206293, #226494);
}
footer a {
  text-decoration: none;
  color: white;
  font-style: normal;
}
.pink {
  color: #ffc0cb;
}
footer a:hover {
  color: aqua;
}
/* navbar */
.navbar i {
  font-size: 34px;
}
.navbar a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.navbar-row {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: -20px !important;
}
nav {
  box-shadow: 2px 2px 5px 1px #1afdfe;
  width: 100vw;
}
